@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Chelsea+Market&display=swap');

#logo {
    font-family: 'Chelsea Market', sans-serif;
    font-size: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;

}

img {
    border: 2px black solid;
}

h2 {
    border: 2px black solid;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}